article{
  .CENTER;
}
.article__services{
  box-sizing: border-box;
  margin-top: 132px;
  height: 720px;

}
.article__services__text{
  width: 535px;
  height: 355px;
  h2{
    font-size: 42px;
    line-height: 55px;
    font-weight: 700;
    text-transform: uppercase;
  }
  p{
    .TEXT;
    margin-bottom: 49px;
  }
  a{
    font-size: 18px;
    font-weight: bold;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 225px;
    padding: 20px;
    height: 55px;
    border-radius: 4px;
    text-decoration: none;
    color: #ff3f40;
    border: solid 2px #ff3f40
  }
}